.logo{
    height: 50px;
    width: 50px;
    flex: 0;
}

.header{
    display: flex;
    flex:0 1 auto;
    background-color: #1F2937; 
    font-size: 18px;
    color:#E5E7EB; 
}

a{
    text-decoration: none;
    padding: 6px;
    color: #E5E7EB;
}

.right{
    display: flex;
    flex: 1 1 auto;
    width: 100px;
    padding: 8px;
}

.sidebar{
    flex: 0 1 auto;
    width: 100px;
    height:200px;
}

.first{
    display: flex;
    margin: 8px;
    justify-content: space-between;
    font-size: 18px;
}

.second{
    margin:8px;
    flex-grow: 0 1 auto;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    align-items: center;
}

.body{
    display: flex;
    flex-direction: column;
}

.mid{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100px;
    padding: 8px;
}

.topimages{
    flex: 0 1 auto;
    gap: 100px;
}

.text1{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100px;
    flex: 1 1 auto;
    color:rgb(31, 202, 83);
    margin-left: 30px;
    justify-content: space-around;
    align-items: center;
}

.red{
    color: red;
}

img{
    height: 250px;
    width: 250px;
    flex: 1 1 auto;
    min-width: 90px;
    min-height: 90px;
    margin-left: 40px;
    margin-right: 20px;
}

body{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0;
}

.headers{
    display: flex;
    flex-wrap: nowrap;
    min-width: fit-content;
}


/* second portion */

.second-portion{
    display: flex;
    margin: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.pictext{
    display: flex;
    flex-direction: column;
}

.mid-images{
    display: flex;
}

.text{
    padding:10px;
    margin-left: 60px;
}

.pictext img{
    border-radius: 20px;
    outline: black solid 2px;
    
}



/* Third portion */
.text3{
    font-size: 36px;
    color: #1F2937;
    padding:20px;
    margin: 30px;
    font-style: light italic;
    text-align: center;
    justify-content: center;
}

.text4{
    font-size: 36px;
    color: #1F2937;
    margin-left: 200px;
    font-style: light italic;
}

.third-portion{
    background-color:#E5E7EB; 
}


/* fourth part */

.fourth-portion{
    display: flex;
    margin: 50px 200px 50px 200px;
    padding: 30px;
    background-color: #3882F6;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    min-width: 200px;
    min-height: 100px;
    border-radius: 50px;
}

button{
    background-color: #3882F6;
    outline: white solid 2px;
    flex: none;
    width: 90px;
    height: 30px;
}
.text6{
    margin-bottom: 10px;
    color:#F9FAf8 ;
    flex-shrink: 1;
}
.text7{
    color: #E5E7EB;
}

.footer{
    background-color: #1F2937; 
    font-size: 18px;
    color:#E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    flex: 1;
}







